<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link href="../static/css/e.css" rel="stylesheet" type="text/css"/>

    <style>
        #big_img {
            display: none;
            background: #FFF0F5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-box-shadow: 10px 10px 50px #909090;
            -webkit-box-shadow: 10px 10px 50px #909090;
            box-shadow: 10px 10px 50px #909090;
            border-radius: 5px;
        }
    </style>

</head>
<body>

<div id="title">
    <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— {{ title }}</p>
    <p id="name">您好, <a href="/personal_center.html/">{{ username }}</a> ,欢迎光临！ &nbsp;&nbsp;&nbsp; <a
            href="/tuichu.html/">[退出]</a></p>
</div>
<div id="l">
    <a href="/ESchool.html?id=jiaohuanzhongxin"><p class="p">交换中心</p></a>
    <a href="/ESchool.html?id=ershoushichang"><p class="p">二手市场</p></a>
    <a href="/ESchool.html?id=dagongdidai"><p class="p">打工地带</p></a>
    <a href="/Publishing_Center.html"><p class="p">我要发布</p></a>
</div>
<div id="item">

    {% for item in list %}
        <div class="items">
            <p id="shopname">{{ item.name }}</p>
            <p id="price">￥ {{ item.price }}</p>
            <hr>
            <p id="user"><span id="wang">{{ item.upname }}</span>
                {% if item.user__realname != "" %}
                    <span id="span">R 实名认证用户</span>
                {% else %}
                    <span id="spann">该用户尚未实名认证</span>
                {% endif %}
                <span id="tel">电话：{{ item.tel }}</span>
            </p>
            <hr>
            <div id="cao">
                <p id="text">
                    {{ item.remarks }}
                </p>
            </div>
            <div id="i">
                <img class="imgs" src="../static/media/{{ item.img }}">
            </div>
            <hr>
            <p id="xp">
                <span id="time">{{ item.time }}</span>
                <span id="e">订单数据由©ESchool提供</span>
                <a id="qiang" href="/qiang.html?shop_id={{ item.id }}&type={{ title }}">我要抢单</a>
            </p>
        </div>
    {% endfor %}


</div>

<div id="lll">
    <p class="y">共 {{ num }} 条数据</p>
    <p class="y">共 {{ max_page }} 页</p>
    <p class="y">当前第 {{ page }} 页 ©2018 ESchool易校园</p>
    <a href="/ESchool.html/?id={{ type }}&page={{ page }}&next=up"><p class="y">上一页</p></a>
    <a href="/ESchool.html/?id={{ type }}&page={{ page }}&next=down"><p class="y">下一页</p></a>
</div>


<div id="big_img">
    <p style="text-align: right">
        <span style="color: #8c8c8c;font-size: 5px">©ESchool - wjw </span>
        <button id="btn_close" style="background: none;border:none;">关闭</button>
    </p>
    <img id="big_image" style="width: 500px; height:500px ;" src="" ; alt="图片">
</div>

<script src="../static/js/e.js"></script>


</body>
</html>