<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <title>ESchool 大学生校园交易平台</title>
    <link href="../static/css/index_css.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
</head>
<body>

<div id="title" style="overflow: hidden">
    <p id="sname">ESchool 大学生校园交易平台 &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/API.html" style="line-height: 100%; text-decoration-line: none ; font-size: 10px">开发者API接口</a>
    </p>
    <button style="padding: 0px;display: inline-block;float: left;margin-left:  100px; height: 25px;line-height: 25px;background: #27A9E3"
            type="button" class="btn btn-info" data-toggle="popover" data-placement="bottom"
            data-trigger="focus">点击下载安卓移动端
    </button>
    <p id="name">亲, <a href="/personal_center.html/">{{ username }} [个人中心]</a> 欢迎光临！&nbsp;&nbsp;&nbsp; <a
            href="/tuichu.html/">[退出]</a>
    </p>
</div>
<div id="container">
    <div id="img" style="left: -1535px">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 曾经让我们梦寐以求的东西，现在全都变的可有可无了···" src="../static/images/lunbotu/4.jpg">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 不忘初心 方得始终 初心易得 始终难守" src="../static/images/lunbotu/aaa.png">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 为了和你有一个擦肩而过，我在你经常走的这条街等了很久···" src="../static/images/lunbotu/1.jpg">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 你们说会找一个像我一样好的人，但那个人为什么不能是我" src="../static/images/lunbotu/2.jpg">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 当一个人因为一点小事恼火的时候，不是因为他脾气差，可能是因为他糟糕的心情积压很久了···"
             src="../static/images/lunbotu/3.jpg">
        <img id="imagee" title="ESchool大学生校园交易平台 —— 你们说我做事越来越懒散了，可是你们知道当初我认真的时候输的多惨吗"
             src="../static/images/lunbotu/4.jpg">
        <img id="imagee" title="ESchool大学生校园交易平台" src="../static/images/lunbotu/aaa.png">
    </div>
    <a href="javascript:;" id="prev" class="arrow">&lt;</a>
    <a href="javascript:;" id="next" class="arrow">&gt;</a>
</div>
<div id="t">
    <a href="/ESchool.html?id=jiaohuanzhongxin"><p class="c">交换中心</p></a>
    <a href="/ESchool.html?id=ershoushichang"><p class="c">二手市场</p></a>
    <a href="/ESchool.html?id=dagongdidai"><p class="c">打工地带</p></a>
    <a href="/Commercial_Street.html"><p class="c">商业店铺</p></a>
    <a href="/shudong.html"><p class="c">我的树洞</p></a>
    <a href="/lose_and_found.html"><p class="c">失物招领</p></a>
    <a href="/baoxiu.html"><p class="c">校园报修</p></a>
    <a href="/love.html"><p class="c">校园表白</p></a>
</div>
<br>
<div id="d">
    <p id="bq">© ESchool(易校园)大学生校园交易平台 | BY 王佳伟 | 网站浏览 {{ count }} 次</p>
</div>


<script src="../static/js/jquery-1.11.3.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/lunbo.js"></script>
<script>
    (function () {
        var s = document.createElement("script");
        s.onload = function () {
            bootlint.showLintReportForCurrentDocument([]);
        };
        s.src = "../static/js/bootlint.js";
        document.body.appendChild(s)
    })();
</script>

<script>
    //
    <!--页面加载完成执行-->
    //  启用所有的弹出框
    $(function () {
        $("[data-toggle='popover']").popover();
    });
    $('.btn').popover({
//        trigger : 'focus',
        html: true,
        content: "<img src='../static/images/download/e.png'style='width:200px;height:200px'><div style='margin-top: 20px;text-align: center'>手机浏览器扫描下载</div>"
    });
</script>


</body>
</html>