<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <title>欢迎光临 ESchool</title>
    <link href="../static/css/login.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="login_box">
    <div class="login_l_img"><img src="../static/images/login-img.png"/></div>
    <div class="login">
        <div class="login_logo"><a href="/index.html/"><img src="../static/images/login_logo.png"/></a></div>
        <div class="login_name">
            <p>ESchool 请登录</p>
        </div>
        <form method="post" action="/login.html/">
            {% csrf_token %}
            <input required  name="uid" type="text" value="用户名" onfocus="this.value=''"
                   onblur="if(this.value==''){this.value='用户名'}">
            <span id="password_text"
                  onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();">密码</span>
            <input required  name="pwd" type="password" id="password" style="display:none;"
                   onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
            <input value="登录" style="width:100%;" type="submit">
            <p><a href="/sign.html/">没有账号？</a> <font font color='red'>{{ text }}</font></p>
        </form>
    </div>
    <div class="copyright">版权所有 ©ESchool</div>
</div>
<div style="text-align:center;">
</div>

<script>
    alert("ESchool团队声明：本项目内部数据均为测试数据，切勿当真！在体验过程中切勿输入隐私内容！项目没人维护，请各位大神不要恶意攻击！");
</script>

</body>
</html>
