<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESchool 发布中心</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link href="../static/css/publish_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="title">
    <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— 发布中心</p>
    <p id="name"><a href="/personal_center.html/">{{ username }}</a> 思密达,欢迎光临！ &nbsp;&nbsp;&nbsp; <a href="/tuichu.html/">[退出]</a></p>
</div>
<div id="f">
    <div id="xtitle">
        <p id="tii">ESchool 大学生校园交易平台</p>
        <p id="tiii">注：请认真填写一下内容，切勿填写敏感信息！！简介不得超过100字。</p>
    </div>
    <form method="post" action="/up.html/" enctype="multipart/form-data">
        {% csrf_token %}
        <span>
            <p class="t">商品名称：</p><input class="c" maxlength="15" name="name" type="text" required  placeholder='为您的宝贝起一个响亮的名字！'>
        </span>
        <span>
            <p class="t">商品价格：</p><input class="c" name="price" type="number" min="0" required  placeholder='为您的宝贝定一个合适的价格(只可输入整数值)'>
        </span>
        <span>
            <p class="t">联系电话：</p><input maxlength="11" class="c" name="tel" type="number" required  placeholder='请输入您的手机号码。例如：17666666666'>
        </span>
        <span>
            <p class="t">交易备注：</p><input class="c" maxlength="100" name="remarks" type="text" required  placeholder='请输入您宝贝的简介(不得超过100字) 例如：九成新'>
        </span>
        <span>
            <p class="t">上传图片(只能上传一张不大于10M图片)：</p><input class="c" name="photo" type="file">
        </span>
        <span>
            <p class="t">将您的宝贝发布在：</p>
            <div id="s">
            <input class="r" type="radio" name="type" value="jiaohuanzhongxin">交换中心
            <input class="r" type="radio" name="type" value="ershoushichang" checked>二手市场
            <input class="r" type="radio" name="type" value="dagongdidai">打工地带
            </div>
        </span><br>
        <span>
            <input id="su" type="submit" value="发布">
        </span>
        <p id="te">©ESchool 王佳伟</p>
    </form>
</div>
</body>
</html>