<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESchool 商铺注册</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link href="../static/css/Shop_registration.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="title">
    <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— 商铺注册</p>
    <p id="name"><a href="/personal_center.html/">{{ username }}</a> 领导,欢迎光临！ &nbsp;&nbsp;&nbsp; <a href="/tuichu.html/">[退出]</a></p>
</div>

<div id="f">
    <div id="xtitle">
        <p id="tii">ESchool 商业街店铺注册</p>
        <p id="tiii">注册须知：请认真填写一下内容，切勿填写敏感信息！每位用户只能注册一间店铺且尚未提供注销功能，注册信息暂不提供修改功能，请谨慎填写！</p>
    </div>
    <form method="post" action="/Open_a_shop.html/">
        {% csrf_token %}
        <span>
            <p class="t">店铺名称：</p><input required  class="c" maxlength="12" name="mingcheng" type="text"
                                         placeholder='请输入店铺名称，不得超过十二个字，超出忽略。'>
        </span>
        <span>
            <p class="t">店铺简介：</p><input required  class="c" maxlength="100" name="jianjie" type="text"
                                         placeholder='请输入店铺介绍，不得超过100字。'>
        </span>
        <span>
            <p class="t">客服电话：</p><input required  maxlength="11" class="c" name="dianhua" type="number" placeholder='请输入店铺客服电话。'>
        </span>
        <span>
            <input id="su" type="submit" value="确认注册">
        </span>
        <p id="te">©2018 ESchool 王佳伟</p>
    </form>
</div>


</body>
</html>