<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="../static/css/dingdan.css">
    <title>ESchool 商铺数据交易中心</title>
</head>
<body>
{% if shop_name == none %}
    <div id="title">
        <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— {{ username }} 用户 商业街购物账单</p>
        <p id="name">嗨, <a href="/personal_center.html/">{{ username }}</a> ,欢迎光临！ &nbsp;&nbsp;&nbsp; <a
                href="/tuichu.html/">[退出]</a></p>
    </div>
    <div style="padding-top: 25px"></div>
    <h1>ESchool大学生校园交易平台—— 用户 {{ username }} 商业街购物清单</h1>
    <table border="1" width="100%">
        <tr>
            <td><span>店铺名称</span></td>
            <td><span>商品名称</span></td>
            <td><span>商品数量</span></td>
            <td><span>商品总价</span></td>
            <td><span>下单时间</span></td>
            <td><span>接单操作</span></td>
            <td><span>交易状态</span></td>
        </tr>
        {% for foo in list %}
            <tr>
                <td>{{ foo.shoppingShops__ShopsName }}</td>
                <td>{{ foo.shoppingName }}</td>
                <td>{{ foo.shoppingCount }} 件</td>
                <td>￥ {{ foo.shoppingMoney }}</td>
                <td>{{ foo.shoppingTime }}</td>
                <td><a href="#" style="color: #27A9E3">撤单</a></td>
                <td><a href="#" style="color: #27A9E3">未送达</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div id="title">
        <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— 商业街店铺{{ shop_name }}订单中心</p>
        <p id="name">陛下, <a href="/personal_center.html/">{{ username }}</a> ,欢迎光临！ &nbsp;&nbsp;&nbsp; <a
                href="/tuichu.html/">[退出]</a></p>
    </div>
    <div style="padding-top: 25px"></div>
    <h1>ESchool大学生校园交易平台——商业街店铺 {{ shop_name }} 订单数据</h1>
    <table border="1" width="100%">
        <tr>
            <td><span>商品名称</span></td>
            <td><span>顾客名称</span></td>
            <td><span>商品数量</span></td>
            <td><span>商品总价</span></td>
            <td><span>下单时间</span></td>
            <td><span>接单操作</span></td>
            <td><span>交易状态</span></td>
        </tr>

        {% for foo in list %}
            <tr>
                <td>{{ foo.shoppingName }}</td>
                <td>{{ foo.shoppingUser__username }}</td>
                <td>{{ foo.shoppingCount }} 件</td>
                <td>￥ {{ foo.shoppingMoney }}</td>
                <td>{{ foo.shoppingTime }}</td>
                <td><a href="#" style="color: #27A9E3">接单</a></td>
                <td><a href="#" style="color: #27A9E3">未送达</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<a href="/index.html/" style="color: #F96F3B">返回主页</a>

</body>
</html>