<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESchool 树洞 - 摘下面具，做真正的自己</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <!-- Templatemo style -->

    <link rel="stylesheet" href="../static/css/shudong.css">

    <style>
        #big_div {
            display: none;
            background: #e4b9b9;
            position: absolute;
            width: 30%;
            height: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-box-shadow: 10px 10px 50px #909090;
            -webkit-box-shadow: 10px 10px 50px #909090;
            box-shadow: 10px 10px 50px #909090;
            border-radius: 5px;
        }

        #mytext {
            width: 100%;
            height: 60%;
            line-height: 30px;
            font-size: 25px;
            word-wrap: break-word;
        }

        #put {
            margin: 5px;
        }
    </style>

    <script>
        var renderPage = true;

        if (navigator.userAgent.indexOf('MSIE') !== -1
            || navigator.appVersion.indexOf('Trident/') > 0) {
            /* Microsoft Internet Explorer detected in. */
            alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
            renderPage = false;
        }
    </script>

</head>

<body style="background:#000000;">

<div id="title">
    <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— 树洞 一个寄存秘密的地方</p>
    <p id="name">我爱你, <a href="/personal_center.html/">{{ username }}</a> ,欢迎光临！ &nbsp;&nbsp;<a
            id="will_put" href="#">我要发帖</a>&nbsp;&nbsp;
        <a
                href="/tuichu.html/">[退出]</a>
    </p>
</div>

<!-- Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div id="chong"></div>

<div class="container">

    <!-- 1st section -->
    <section class="row tm-section">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0" style="background:#000000;">
            <div class="tm-flex-center p-5 tm-bg-color-primary tm-section-min-h" style="background:#000000;">
                <h1 id="my_time" class="tm-text-color-white tm-site-name" style="font-size: 30px;text-shadow: 3px 3px 3px #fff">ESchool 树洞 一路有你</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="background:#000000;">
            <div class="tm-flex-center p-5" style="background:#000000;">
                <q id="my_text" class="tm-quote tm-text-color-gray">那些在现实中我们不曾发出的声音，如果愿意，请把它们留在这里。ESchool
                    树洞，一个寄存秘密的地方，没有人知道你是谁，没有人知道你在哪里······
                </q>
            </div>
        </div>
    </section>
</div>


<div id="big_div">
    <p style="text-align: right">
        <span style="color: #8c8c8c;font-size: 15px">©ESchool 树洞 感恩,一路有你 </span>
        <button id="btn_close" style="background: none;border:none;">关闭</button>
    </p>
    <input id="mytext" maxlength="230" type="text" placeholder="说点儿什么吧，这里没人认识你···">
    <button id="put">发布树洞</button>
</div>


<audio src="../static/music/shudong.mp3" autoplay loop >抱歉，背景音乐暂时不能播放···</audio>

<canvas id="christmasCanvas"
        style="top: 0px; left: 0px; z-index: 5000; position: fixed; pointer-events: none;"></canvas>
<script>
    var snow = function () {
        var b = document.getElementById("christmasCanvas"), a = b.getContext("2d"), d = window.innerWidth,
            c = window.innerHeight;
        b.width = d;
        b.height = c;
        for (var e = [], b = 0; b < 70; b++) {
            e.push({x: Math.random() * d, y: Math.random() * c, r: Math.random() * 4 + 1, d: Math.random() * 70})
        }
        var h = 0;
        window.intervral4Christmas = setInterval(function () {
            a.clearRect(0, 0, d, c);
            a.fillStyle = "rgba(255, 255, 0, 0.6)";
            a.shadowBlur = 5;
            a.shadowColor = "rgba(255, 255, 255, 0.9)";
            a.beginPath();
            for (var b = 0; b < 70; b++) {
                var f = e[b];
                a.moveTo(f.x, f.y);
                a.arc(f.x, f.y, f.r, 0, Math.PI * 2, !0)
            }
            a.fill();
            h += 0.01;
            for (b = 0; b < 70; b++) {
                if (f = e[b], f.y += Math.cos(h + f.d) + 1 + f.r / 2, f.x += Math.sin(h) * 2, f.x > d + 5 || f.x < -5 || f.y > c) {
                    e[b] = b % 3 > 0 ? {x: Math.random() * d, y: -10, r: f.r, d: f.d} : Math.sin(h) > 0 ? {
                        x: -5,
                        y: Math.random() * c,
                        r: f.r,
                        d: f.d
                    } : {x: d + 5, y: Math.random() * c, r: f.r, d: f.d}
                }
            }
        }, 70)
    }
    snow();
</script>

<!-- load JS -->
<script src="../static/js/jquery-3.2.1.slim.min.js"></script>         <!-- https://jquery.com/ -->
<script>

    /* DOM is ready
    ------------------------------------------------*/
    $(function () {
        if (renderPage) {
            $('body').addClass('loaded');
        }
        $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright
    });

    var my_time = document.getElementById("my_time")
    var my_text = document.getElementById("my_text")

    setInterval(get_data, 25000);

    function get_data() {

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/updata_shudong.html/', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                change_data(xhr.responseText);
            }
        };
        xhr.send();
    };

    function change_data(my_data) {
        var objj = JSON.parse(my_data);
        {#var obj = my_data.parseJSON()#}
        my_time.innerText = objj.mTime;
        my_text.innerText = objj.mText;

    }


</script>
<script src="../static/js/shudong.js"></script>

</body>
</html>