<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>ESchool 注册</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/supersized.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

<div class="page-container">
    <h1>ESchool 注册账号</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="signname" class="username" placeholder="Username">
        <input type="password" name="signpwd" class="password" placeholder="Password">
        <button type="submit">确认注册</button>
        <div class="error"><span>+</span></div>
        <p>{{ text }}</p>
    </form>
</div>
<br>
<p><a href="/index.html/">已有账号？</a></p><br><br><br>
注册ESchool账号，默认同意并遵守 <a href="/ESchool_Disclaimer.html/" title="ESchool">《用户须知、知识产权声明、权利声明、隐私权保护生命、免责声明书》</a><br><br><br><br><br><br>
<div align="center">欢迎加入 <a href="/index.html/" title="ESchool">ESchool</a>
</div>


<!-- Javascript -->
<script src="../static/js/jquery-1.8.2.min.js"></script>
<script src="../static/js/supersized.3.2.7.min.js"></script>
<script src="../static/js/supersized-init.js"></script>
<script src="../static/js/scripts.js"></script>

</body>

</html>

