<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESchool-商业街</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link href="../static/css/street.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="title">
    <p id="sname"><a href="/index.html/">ESchool 大学生校园交易平台</a> —— 商业街</p>
    {% if s == 'no' %}
        <p id="dian"><a href="/Shop_registration.html/">我要开店</a></p>
    {% else %}
        <p id="dian"><a href="/eschool_shop.html?type=i&name={{ username }}">我的店铺</a></p>
    {% endif %}
    <p id="name"><a href="/personal_center.html/">{{ username }}</a> 小宝贝儿,欢迎光临！&nbsp;&nbsp;<a
            href="/tuichu.html/">[退出]</a></p>
</div>
<div id="head">
    <img id="head" src="../static/images/shangyejie.jpg">
</div>
<div id="list">

    {% for item in list %}
        <div id="item">
            <p id="sn">{{ item.ShopsName }}</p>
            <p id="jj">{{ item.introduce }}</p>
            <a href="/eschool_shop.html?type=u&id={{ item.id }}"><p id="jd">
                {% if item.user__realname != "" %}
                    <span id="span">R 实名店铺</span>
                {% endif %}
                进店抢购 》》</p></a>
        </div>
    {% endfor %}

</div>
</body>
</html>