* {
    margin: 0;
}

#title {
    left: 0px;
    top: 0px;
    position: fixed;
    height: 25px;
    width: 100%;
    min-width: 1000px;
    background: #27A9E3;
}

#sname {
    display: inline-block;
    float: left;
    line-height: 25px;
    height: 25px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

#dian {
    display: inline-block;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    background: #93defe;
    line-height: 21px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    height: 21px;
    color: white;
    border-radius: 15px;
}

#name {
    color: white;
    line-height: 25px;
    height: 25px;
    text-align: right;
    font-size: 12px;
    margin-right: 50px;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#shopname {
    margin-top: 25px;
    width: auto;
    height: 300px;
    background: #54A9D4;
    min-width: 1000px;
}

#es {
    color: white;
    height: 35px;
    text-align: right;
    line-height: 35px;
    font-size: 20px;
    padding-right: 50px;
}

#sn {
    height: 100px;
    width: auto;
    color: white;
    line-height: 100px;
    font-size: 60px;
    font-weight: 700;
    padding-left: 100px;
    text-shadow: 5px 5px 5px #888888;
}

#jj {
    width: auto;
    height: 100px;
    line-height: 50px;
    color: white;
    margin: 20px 35px;
    font-size: 30px;
}

#ti {
    display: inline-block;
    float: left;
    width: 30%;
    margin-left: 20px;
    text-align: right;
    color: white;
}

#list {
    width: 100%;
    min-width: 1000px;
}

#di {
    width: 100%;
    min-width: 1000px;
    height: 30px;
    background: #c1e2b3;
    position: fixed;
    bottom: 0;
}

.names {
    width: 33%;
    display: inline-block;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
}

.namess {
    display: inline-block;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
}

#shangpin {
    height: 200px;
    display: inline-block;
    float: left;
    margin: 2% 20px;
    width: 29%;
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow: 2px 2px 10px #909090;
}

#spname {
    line-height: 40px;
    font-weight: 700;
    color: #2b542c;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
    text-shadow: 2px 2px 2px #888888;
    float: left;
}

#check {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: right;
    zoom: 130%;
    margin-right: 10px;
}

#q {
    clear: both;
}

#spjieshao {
    height: 60px;
    padding: 5px;
}

#buynum {
    margin: 2px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: right;

}

.buyn {
    width: 50px;
    height: 12px;
}

#sy1 {
    display: inline-block;
    float: left;
    color: #888888;
    text-align: right;
    margin: 5px;
    font-size: 10px;

}

#sy {
    display: inline-block;
    float: right;
    color: #888888;
    text-align: right;
    margin: 5px;
    font-size: 10px;
}