
.a{
    margin: 5px;
    border: solid 1px #27A9E3;
    width: 35%;
    background: #93defe;
}

#big {
    width: 100%;
    height: auto;
    padding: 2px;
}

#big_one {
    text-align: center;
    margin: 5px;
}

.sp {
    display: inline-block;
    width: 150px;
    text-align: center;
}

#big_two {
    margin: 5px;
    height: auto;
}

#big_three {
    margin: 5px;
    height: 72px;
}

img {
    margin: 5px 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
}

.span {
    display: block;
    vertical-align: middle;
    position: relative;
    top: 30px;
    left: 260px;
}

#big_clear {
    clear: both;
}

.spp {
    left: 275px;
}