* {
    margin: 0;
}

#title {
    height: 25px;
    min-width: 700px;
    background: #27A9E3;
}

#xtitle {
    background: #27A9E3;
    height: 80px;
    width: 100%;
}

#tii {
    line-height: 30px;
    padding-top: 10px;
    height: 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

#tiii {
    line-height: 25px;
    height: 25px;
    margin-top: 8px;
    font-size: 15px;
    color: white;
    text-align: right;
}

#sname {
    display: inline-block;
    float: left;
    line-height: 25px;
    height: 25px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

.c {
    margin-left: 20%;
    width: 60%;
    height: 20px;
    font-size: 13px;
    margin-top: 3px;
}

#name {
    color: white;
    line-height: 25px;
    height: 25px;
    text-align: right;
    font-size: 12px;
    margin-right: 50px;
}

.t {
    margin-top: 20px;
    padding-left: 18%;
}

#f {
    position: absolute;
    margin-left: 33%;
    margin-top: 50px;
    background: #93defe;
    width: 500px;
    height: 600px;
    border-radius: 25px;
}

#s {
    margin-left: 90px;
}

#su {
    margin-top: 20px;
    margin-left: 40%;
    width: 20%;
    height: 30px;
    border-radius: 25px;
}

#te{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    color: #888888;
}

.r {
    margin-top: 15px;
    margin-left: 10px;
    width: 5%;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}