* {
    margin: 0;
}

#title {
    left: 0px;
    top: 0px;
    position: fixed;
    height: 25px;
    width: 100%;
    min-width: 1000px;
    background: #27A9E3;
}

#sname {
    display: inline-block;
    float: left;
    line-height: 25px;
    height: 25px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

#dian {
    display: inline-block;
    float: right;
    margin: 2px 30px;
    background: #93defe;
    line-height: 21px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    height: 21px;
    color: white;
    border-radius: 15px;
}

#name {
    color: white;
    line-height: 25px;
    height: 25px;
    text-align: right;
    font-size: 12px;
    margin-right: 50px;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#shopname {
    margin-top: 25px;
    width: auto;
    height: 120px;
    background: #54A9D4;
    min-width: 1000px;
}

#es {
    color: white;
    height: 20px;
    padding-top: 10px;
    text-align: right;
    line-height: 20px;
    font-size: 20px;
    padding-right: 50px;
    text-shadow: 3px 3px 3px #adadad;
}

#sn {
    height: 60px;
    width: auto;
    color: white;
    line-height: 60px;
    font-size: 60px;
    font-weight: 700;
    padding-left: 100px;
    text-shadow: 3px 3px 3px #204d74;
}

#jj {
    width: auto;
    color: white;
    text-align: right;
    padding-right: 200px;
    color: #888888;
}

#names {
    text-align: left;
    height: 16px;
    margin-top: 2px;
    margin-left: 2px;
    line-height: 16px;
    font-size: 16px;
    color: white;
}

#dii {
    width: 100%;
    min-width: 1000px;
    height: 32px;
    background: #27A9E3;
    position: fixed;
    bottom: 0;
}

#pname {
    height: 18px;
    color: white;
    line-height: 18px;
    font-size: 18px;
    display: inline-block;
    float: left;
    width: 46%;
    text-align: center;
    margin: 0.3%;
}

#xx {
    width: 70%;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
}

#aaa {
    clear: both;
}

#shangpin {
    width: 100%;
    height: 582px;
    min-width: 1000px;
    overflow: auto;

}

#qqq {
    height: 32px;
}

#ww {
    width: 99%;
    margin: 0.5%;
    background: #c1e2b3;
    height: 55px;
    -moz-box-shadow: 1px 1px 5px #909090;
    -webkit-box-shadow: 1px 1px 5px #909090;
    box-shadow: 1px 1px 5px #909090;
}

#l {
    height: 55px;
    line-height: 55px;
}

#ll {
    height: 40%;
    line-height: 40%;
    font-size: 13px;
}

#pnames {
    height: 18px;
    color: white;
    line-height: 18px;
    font-size: 18px;
    display: inline-block;
    float: left;
    width: 23%;
    text-align: center;
    margin: 0.3%;
}

#ook {
    padding: 4px;
    display: inline-block;
    float: left;
}

#llll {
    height: 100%;
    line-height: 15px;
    font-size: 13px;
}
