* {
    margin: 0;
}

#title {
    left: 0px;
    top: 0px;
    position: fixed;
    height: 25px;
    width: 100%;
    min-width: 700px;
    background: #27A9E3;
}

#sname {
    display: inline-block;
    float: left;
    line-height: 25px;
    height: 25px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

#dian {
    display: inline-block;
    float: right;
    margin: 2px 30px;
    background: #93defe;
    line-height: 21px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    height: 21px;
    color: white;
    border-radius: 15px;
}

#name {
    color: white;
    line-height: 25px;
    height: 25px;
    text-align: right;
    font-size: 12px;
    margin-right: 50px;
}

#head {
    margin-top: 12px;
    background: #DCDEE0;
    width: 100%;
    min-width: 1300px;
    height: 550px;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#list {
    background: #ff730e;
    width: 100%;
    min-width: 1300px;
}

#item {
    background: #93defe;
    width: 40%;
    margin: 30px 5%;
    height: 200px;
    float: left;
    display: inline-block;
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow: 2px 2px 10px #909090;
}

#sn {
    width: 100%;
    color: white;
    text-shadow: 2px 2px 2px #888888 ;
    background: #27A9E3;
    height: 70px;
    margin: 10px 0px;
    line-height: 70px;
    font-size: 50px;
}

#jj {
    padding: 5px 15px;
}

#jd {
    background: red;
    width: 100%;
    font-weight: 600;
    margin-top: 5px;
    text-align: right;
    margin-right: 20px;
}

#span {
    color: greenyellow;
    margin-right: 30px;
    font-size: 13px;
}